<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>管理系统</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="/static/img/favicon.png">
    <!-- Bootstrap4 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <!-- Fontawesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <!-- Layui -->
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/style.extend.css">
</head>

<body>
    <!-- Main Wrapper -->
    <div class="main-wrapper">
        <!--header-->
        <!-- Header -->
        <div class="header">
            <!-- Logo -->
            <div class="header-left">
                <a href="/index.html" class="logo">
                    <img src="/static/img/logo.png" alt="Logo">
                </a>
                <a href="/index.html" class="logo logo-small">
                    <img src="/static/img/logo-small.png" alt="Logo" width="30" height="30">
                </a>
            </div>
            <!-- /Logo -->
            <!-- Sidebar Toggle -->
            <a href="javascript:void(0);" id="toggle_btn">
                <i class="fas fa-bars"></i>
            </a>
            <!-- /Sidebar Toggle -->
            <!-- Mobile Menu Toggle -->
            <a class="mobile_btn" id="mobile_btn">
                <i class="fas fa-bars"></i>
            </a>
            <!-- /Mobile Menu Toggle -->
            <!-- Header Menu -->
            <ul class="nav user-menu">
                <!-- User Menu -->
                <li class="nav-item dropdown has-arrow main-drop">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <span class="user-img">
                            <img src="/static/img/profiles/avatar-01.jpg" alt="">
                            <span class="status online"></span>
                        </span>
                        <span>{$name}</span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/user/logout">
                            <i data-feather="log-out" class="mr-1"></i>
                            退出</a>
                    </div>
                </li>
                <!-- /User Menu -->
            </ul>
            <!-- /Header Menu -->
        </div>
        <!-- /Header -->

        <!-- Sidebar -->
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        {foreach $menus as $menu}
                        <li class="{$select == $menu.active_name ? 'active' : ''}">
                            <a href="{$menu.path}">
                                <i class="fas {$menu.icon}"></i> <span>{$menu.name}</span>
                            </a>
                        </li>
                        {/foreach}
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Sidebar -->

        <!--main-->
        {block name="main"}{/block}
    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script src="/static/jquery/jquery-3.7.1.js"></script>
    <!-- Layui -->
    <script src="/static/layui/layui.js"></script>
    <!-- Popperjs Bootstrap4依赖 -->
    <script src="/static/js/popper.min.js"></script>
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
    <!-- Vue -->
    <script src="/static/vue/vue.js"></script>
    <!-- Main JS -->
    <script src="/static/js/script.js"></script>
    <script src="/static/js/script.extend.js"></script>
    {block name="script"}{/block}
</body>

</html>