<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>管理系统</title>
    <link rel="shortcut icon" href="/static/img/favicon.png">
    <!-- Bootstrap4 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <!-- Fontawesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <!-- Layui -->
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/style.extend.css">
</head>

<body>
    <!-- Content -->
    <div class="container-fluid">
        {block name="main"}{/block}
    </div>

    <!-- jQuery -->
    <script src="/static/jquery/jquery-3.7.1.js"></script>
    <!-- Layui -->
    <script src="/static/layui/layui.js"></script>
    <!-- Bootstrap4 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
    <!-- Vue -->
    <script src="/static/vue/vue.js"></script>
    <!-- Main JS -->
    <script src="/static/js/script.js"></script>
    <script src="/static/js/script.extend.js"></script>
    {block name="script"}{/block}
</body>

</html>