{extend name="base"}

{block name="main"}
<!-- Page Wrapper -->
<div class="page-wrapper" id="user_index_1123">
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">业务员管理</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/index.php">主页</a>
                        </li>
                        <li class="breadcrumb-item active">业务员管理</li>
                    </ul>
                </div>
                <div class="col-auto">
                    <a href="add.html" class="btn btn-primary mr-1">
                        <i class="fas fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- /Page Header -->


        <div class="row">
            <div class="col-sm-12">

                <div class="card card-table">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-center table-hover datatable">
                                <thead class="thead-light">
                                    <tr>
                                        <th>姓名</th>
                                        <th>员工类型</th>
                                        <th>手机号</th>
                                        <th>微信号</th>
                                        <th>身份证号</th>
                                        <th>联系人</th>
                                        <th>联系人手机号</th>
                                        <th>所属单位</th>
                                        <th class="text-center">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="user in users">
                                        <td>{{user.username}}</td>
                                        <td>{{user.type}}</td>
                                        <td>{{user.phone}}</td>
                                        <td>{{user.email}}</td>
                                        <td>{{user.username}}</td>
                                        <td>{{user.username}}</td>
                                        <td>{{user.username}}</td>
                                        <td>{{user.org_name}}</td>
                                        <td class="text-right">
                                            <a @click="userUpdatePage(user.id)"
                                                class="btn btn-sm btn-white text-success mr-2">
                                                <i class="far fa-edit mr-1"></i>修改
                                            </a>
                                            <a v-if="user.status==1" @click="userFreeze(user.id)"
                                                class="btn btn-sm btn-white text-danger mr-2">
                                                冻结
                                            </a>
                                            <a v-else @click="userUnfreeze(user.id)"
                                                class="btn btn-sm btn-white text-primary mr-2" style="color:#eee;">解冻
                                            </a>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td colspan="11" align="right">
                                            <div class="dataTables_paginate paging_simple_numbers">
                                                <a v-for="i in pageCount" :href="generatePageLink(i)"
                                                    style=" color:#333; text-decoration:none; padding:3px 10px; margin-right:5px; border:1px solid #333;">
                                                    {{i}}
                                                </a>
                                                共{{count}}条记录
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script>
    new Vue({
        el: "#user_index_1123",
        data: {
            query: {
                page: 1,
                page_size: 10,
            },
            users: [],
            count: 0
        },
        created() {
            this.userList()
        },
        computed: {
            pageCount() {
                return Math.ceil(this.count / this.query.page_size);
            }
        },
        methods: {
            generatePageLink(page) {
                return `/index.php/user/index?page=${page}&page_size=${this.query.page_size}`;
            },
            userList() {
                this.query.page = getQuery("page") || 1
                this.query.page_size = getQuery("page_size") || 10
                 ajax.post("/user/list", this.query, (data, msg) => {
                    this.users = data.users;
                    this.count = data.count;
                })
            },
            userUpdatePage(user_id) {
                location.href = "/user/update?user_id=" + user_id
            },
            userFreeze(user_id) {
                layer.confirm("冻结此账号吗？", { btn: ["确定", "取消"] }, () => {
                     ajax.post("/user/freeze", { user_id }, (data, msg) => {
                        layer.msg(msg);
                        this.userList();
                    })
                })
            },
            userUnfreeze(user_id) {
                layer.confirm("解冻此账号吗？", { btn: ["确定", "取消"] }, () => {
                     ajax.post("/user/unfreeze", { user_id }, (data, msg) => {
                        layer.msg(msg);
                        this.userList();
                    })
                })
            }
        }
    })
</script>
{/block}