<div class="row" id="map_edit_detail" style="margin: 5px 10px">
    <div class="col-md-12">
        <ul>
            <li style="margin: 10px 0">
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-2">
                                <p style="background-color: #0070f9;border-radius: 5px;padding: 2px 3px;text-align: center"
                                   class="text-white">
                                    默认</p>
                            </div>
                            <div class="col-md-8">
                                <span>{{name}}</span>
                                <span>{{phone}}</span>
                            </div>
                            <div class="col-md-2">
                                <i class="glyphicon glyphicon-remove-circle"></i>
                                <i class="glyphicon glyphicon-wrench"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>{{address}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="radio" name="address" value="default">使用该地址
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row" style="padding: 10px">
                            <button class="form-control btn btn-white text-primary" @click="mapEditDetail()">编辑
                            </button>
                        </div>
                        <div class="row" style="padding: 10px">
                            <button class="form-control btn btn-white text-danger" @click="mapEditDelete()">删除
                            </button>
                        </div>
                    </div>
                </div>
            </li>
            <li style="margin: 10px 0">
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-2">
                                <p style="background-color: #0070f9;border-radius: 5px;padding: 2px 3px;text-align: center"
                                   class="text-white">
                                    默认</p>
                            </div>
                            <div class="col-md-8">
                                <span>张三</span>
                                <span>15576364885</span>
                            </div>
                            <div class="col-md-2">
                                <i class="glyphicon glyphicon-remove-circle"></i>
                                <i class="glyphicon glyphicon-wrench"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>湖北省武汉市武昌区武汉大学5舍五楼511</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="radio" name="address" value="default">使用该地址
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row" style="padding: 10px">
                            <button class="form-control btn btn-white text-primary">编辑</button>
                        </div>
                        <div class="row" style="padding: 10px">
                            <button class="form-control btn btn-white text-danger">删除</button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<script>
    new Vue({
        el: "#map_edit_detail",
        data: {
            name: "张三1",
            phone: "15576762343",
            address: "湖北省武汉市武昌区武汉大学",
        },
        methods: {
            mapEditDetail() {
                send_post("/index.php/api/order/mapEditDetail", {}, function (response) {
                    layer.open({
                        type: 1,
                        closeBtn: 2,
                        title: '编辑地址',
                        area: ['600px', '500px'],
                        btn: ['修改', '取消'],
                        yes: function (index, layero) {
                            alert("修改")
                        },
                        btn2: function (index, layero) {
                            alert("取消")
                        },
                        content: response //这里content是一个普通的String
                    });
                })
            },
            mapEditDelete() {

            }
        }
    })
</script>