{extend name="base"}

{block name="main"}
<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">订单管理</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="order_index.html">主页</a></li>
                        <li class="breadcrumb-item"><a href="customer_index.html">订单管理</a></li>
                        <li class="breadcrumb-item active">录入信息</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">基础信息
                            <span style="color: #929292;margin-left: 10px">
                                (请先选好商品，再录入其他信息)
                            </span>
                        </h4>
                        <form id="doorder_form" action="/index.php/order/create" method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>日期</label>
                                        <input type="date" name="date01" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>订单类型</label>
                                        <input type="text" name="type" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>收货人姓名</label>
                                        <input type="text" name="shou" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>收货人电话</label>
                                        <input type="text" name="tel" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>快递公司</label>
                                        <input type="text" name="kuainame" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>快递单号</label>
                                        <input type="text" name="kuainum" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>发货时间</label>
                                        <input type="date" name="date02" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>客户姓名</label>
                                        <select name="kename" class="form-control">
                                            <option value="顾客姓名列表">顾客姓名列表</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-2">商品名称：</div>
                                <div class="col-md-7">
                                    <select name="gid" id="gid" class="form-control">
                                        <option id="">商品名称列表</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <a href="#" class="btn btn-primary" onclick="order_cart_add(event)">添加</a>
                                </div>

                            </div>
                            <table class=" table-striped table-responsive text-center" width="100%" cellpadding="5">
                                <tr height="30">
                                    <th width="5%">商品ID</th>
                                    <th width="55%">商品名称</th>
                                    <th width="10%">价格</th>
                                    <th width="10%">积分价格</th>
                                    <th width="10%">数量</th>
                                    <th width="10%">操作</th>
                                </tr>

                                <tr height="30" data-gid="">
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>
                                        <input type="text" name="num" value="1"
                                               style="width:30%; margin:0 35%; text-align:center;">
                                    </td>
                                    <td>
                                        <a href="#" class="update-link" data-id="">修改</a>
                                        |
                                        <a href="order_delete.html?id=">删除</a>
                                    </td>
                                </tr>
                            </table>
                            <input type="hidden" name="totals" value="">
                            <div class="row">
                                <div class="col-md-6">
                                    <span style="color: #f00">总金额</span>
                                    <span id="count">100</span>
                                </div>
                                <div class="col-md-6 text-right">
                                    <button type="submit" class="btn btn-primary">保存</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Wrapper -->
{/block}

{block name="script"}
<script>
    $(document).ready(function () {
        $("#order").addClass("active");
        $('.update-link').on('click', function (event) {
            event.preventDefault(); // 阻止默认事件

            var cid = $(this).data('id'); // 获取 cart ID
            var num = $(this).closest('tr').find('input[name=num]').val(); // 获取新的数量

            // 发送 AJAX 请求来更新 cart item
            $.ajax({
                url: 'update.php',
                method: 'POST',
                data: {
                    'id': cid,
                    'num': num
                },
                success: function (response) {
                    console.log(response); // 在控制台记录服务器响应
                }
            });
        });
        $("#doorder_form").submit(function (event) {
            // 阻止表单默认提交
            event.preventDefault();

            // 使用AJAX提交表单数据
            $.ajax({
                type: "POST",
                url: $(this).attr("action"),
                data: new FormData(this),
                processData: false,
                contentType: false,
                success: function (response) {
                    // 请求成功，弹窗显示返回的结果
                    if (response) {
                        alert(response.msg);
                    }

                }
            });
        });
    })

    function order_cart_add(event) {
        event.preventDefault(); // 阻止默认事件
        let selectIndex = document.getElementById("gid").selectedIndex;
        let gid = document.getElementById('gid').options[selectIndex].id;//商品id
        $.ajax({
            url: 'order_shop_add.php',
            method: 'POST',
            data: {gid},
            dataType: 'json', // 告诉jQuery预期的响应类型是JSON
            success: function (response) {
                if (response.code === 200) {
                    // 获取现有的数量和价格
                    let numInput = $('tr[data-gid="' + id + '"]').find('input[name="num"]');
                    let num = parseInt(numInput.val()) || 0;
                    let price = parseFloat($('tr[data-gid="' + id + '"]').find('td[data-field="price"]').text());

                    if (numInput.length > 0) {
                        // 如果表格中已经存在该商品，则更新其数量和总价
                        numInput.val(num + 1);
                        $('tr[data-gid="' + id + '"]').find('td[data-field="total"]').text((num + 1) * price);
                    } else {
                        // 否则，新增一行记录该商品
                        let name = $('#gid option[id=' + id + ']').text();
                        let newRow = '<tr height="30" data-gid="' + id + '">' +
                            '<td>' + id + '</td>' +
                            '<td>' + name + '</td>' +
                            '<td data-field="price">' + response.price + '</td>' +
                            '<td>' + response.vprice + '</td>' +
                            '<td><input type="text" name="num" value="1" style="width:30%; margin:0 35%; text-align:center;"></td>' +
                            '<td><a href="#" class="update-link" data-id="' + response.id + '">修改</a> | <a href=' + response.cid + '"customer_delete.html?id=">删除</a></td>' +
                            '</tr>';
                        $('table tbody').append(newRow);
                    }

                    let newTotal = parseFloat($('input[name="totals"]').val()) + parseFloat(response.price);
                    $('input[name="totals"]').val(newTotal);

                    $('#count').text(newTotal);

                    alert('商品已成功添加到购物车');
                } else {
                    alert('添加商品到购物车时发生错误：' + response.msg);
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                alert('发生了一个错误：' + errorThrown);
            }
        });
    }
</script>
{/block}
