<div class="" id="map_edit_9898">
    <div class="">
        <form class="layui-form">
            <input id="address_id" type="text" :value="address.id" hidden>
            <div class="layui-form-item">
                <label class="layui-form-label">姓名</label>
                <div class="layui-input-block">
                    <input type="text" name="name" v-model="address.name" required lay-verify="required"
                        placeholder="请输入姓名" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">电话</label>
                <div class="layui-input-block">
                    <input type="text" name="title" v-model="address.phone" required lay-verify="required"
                        placeholder="请输入电话" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">地址</label>
                <div class="row">
                    <div class="col-md-12" style="margin-left: 15px;">
                        <div data-toggle="distpicker">
                            <select v-model="address.province" data-province="浙江省"></select>
                            <select v-model="address.city" data-city="杭州市"></select>
                            <select v-model="address.prefecture" data-district="西湖区"></select>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 100px;">详细地址</label>
                <div class="layui-input-block">
                    <input type="text" v-model="address.address" required lay-verify="required" placeholder="请输入地址"
                        autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="row">
                <!-- <div class="col-md-12 text-right">
                    <button type="button" class="btn btn-white text-primary" @click="updateAddress">修改</button>
                    <button type="button" class="btn btn-white text-success">取消</button>
                </div> -->
            </div>
            
        </form>
    </div>
</div>

<script src="/distpicker/distpicker.js"></script>
<script>
    layui.use('form', function () {
        let form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function (data) {
            layer.msg(JSON.stringify(data.field));
            return false;
        });

        form.render();
    });

    new Vue({
        el: "#map_edit_9898",
        data: {
            address: {
                name: "",
                phone: "",
                province: "",
                city: "",
                prefecture: "",
                address: ""
            }
        },
        created() {
            let address_id = $("#address_id").val()
            this.getAddress(address_id);
        },
        methods: {
            updateAddress() {
                ajax_post("/address/update", this.address, (msg) => {
                    layer.msg(msg)
                })
            },
            getAddress(address_id) {
                ajax_post("/address/info", { address_id }, (data) => {
                    $("#distpicker").distpicker({
                        province: data.province,
                        city: data.city,
                        district: data.district
                    });

                    this.address = data
                })
            }
        }
    })
</script>