{extend name="base"}
{block name="main"}
<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">角色管理</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/index.php">主页</a>
                        </li>
                        <li class="breadcrumb-item active">角色管理</li>
                    </ul>
                </div>
                <div class="col-auto">

                </div>
            </div>
        </div>
        <!-- /Page Header -->


        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">
                    <div class="card-body">
                        <div class="table-responsive">
                            <style>
                                .id_23_90 {
                                    cursor: pointer;
                                }

                                .id_23_90:hover {
                                    color: deepskyblue;
                                    text-decoration: underline;
                                }

                                .check_12 {
                                    color: deepskyblue;
                                }
                            </style>
                            <table class="table table-center table-hover datatable">
                                <thead class="thead-light">
                                <tr>
                                    <th>角色编号</th>
                                    <th>角色名称</th>
                                    <th>状态</th>
                                </tr>
                                </thead>
                                <tbody>
                                {foreach $roles as $role}
                                <tr class="customer-row" data-id="{$role.id}">
                                    <td>{$role.id}</td>
                                    <td>{$role.name}</td>
                                    <td>{$role.status==1 ? '启用' : '禁用'}</td>
                                </tr>
                                {/foreach}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Wrapper -->

{/block}


{block name="script"}

{/block}